In [8]:
import requests as req
import pandas as pd
census_api='c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a'

In [9]:
# read places 
xls = pd.ExcelFile('Project1_AmazonSites.xlsx') 
geo_df=xls.parse('Sheet1') 
places_df=xls.parse('Sheet2')

In [10]:
places = places_df[['PlaceCode','StateCode']]
places.values

array([[50000,    11],
       [51000,    36],
       [ 7000,    25],
       [14000,    17],
       [44000,     6],
       [55000,    37],
       [ 5000,    48],
       [ 4000,    13]])

In [13]:
#query Census based on places
q1 = 'https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:'
q2 = '&in=state:'
census_key = '&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a'
home_rent = []
for p in places.values:
    url=q1+str(p[0])+q2+str(p[1])+census_key
    print(url)
    census_req=req.get(url)
    census_data = census_req.json()
    print(census_data)
    home_rent.append({'City':census_data[1][0],
                     'Median home value':census_data[1][1],
                     'Median gross rent':census_data[1][2],
                     'Population':census_data[1][3],
                     'Income':census_data[1][4]})
home_rent

https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:50000&in=state:11&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Washington city, District of Columbia', '470500', '1307', '646449', '67572', '11', '50000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:51000&in=state:36&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['New York city, New York', '488100', '1228', '8405837', '52223', '36', '51000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:7000&in=state:25&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Boston city, Massachusetts', '381700', '1263', '644710', '53583', '25', '07000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:14000&in=state:17&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Chicago city, Illinois', '211400', '943', '2718789', '47099', '17', '14000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:44000&in=state:6&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Los Angeles city, California', '451200', '1182', '3884340', '48466', '06', '44000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:55000&in=state:37&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Raleigh city, North Carolina', '202800', '899', '431897', '55170', '37', '55000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:5000&in=state:48&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Austin city, Texas', '234800', '1008', '885415', '56351', '48', '05000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:4000&in=state:13&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'B01003_001E', 'B19013_001E', 'state', 'place'], ['Atlanta city, Georgia', '200900', '963', '447848', '46485', '13', '04000']]

[{'City': 'Washington city, District of Columbia',
  'Income': '67572',
  'Median gross rent': '1307',
  'Median home value': '470500',
  'Population': '646449'},
 {'City': 'New York city, New York',
  'Income': '52223',
  'Median gross rent': '1228',
  'Median home value': '488100',
  'Population': '8405837'},
 {'City': 'Boston city, Massachusetts',
  'Income': '53583',
  'Median gross rent': '1263',
  'Median home value': '381700',
  'Population': '644710'},
 {'City': 'Chicago city, Illinois',
  'Income': '47099',
  'Median gross rent': '943',
  'Median home value': '211400',
  'Population': '2718789'},
 {'City': 'Los Angeles city, California',
  'Income': '48466',
  'Median gross rent': '1182',
  'Median home value': '451200',
  'Population': '3884340'},
 {'City': 'Raleigh city, North Carolina',
  'Income': '55170',
  'Median gross rent': '899',
  'Median home value': '202800',
  'Population': '431897'},
 {'City': 'Austin city, Texas',
  'Income': '56351',
  'Median gross rent': '1008',
  'Median home value': '234800',
  'Population': '885415'},
 {'City': 'Atlanta city, Georgia',
  'Income': '46485',
  'Median gross rent': '963',
  'Median home value': '200900',
  'Population': '447848'}]

In [15]:
#get dataframe
housing_df = pd.DataFrame(home_rent)
housing_df

,City,Income,Median gross rent,Median home value,Population
0,"Washington city, District of Columbia",67572,1307,470500,646449
1,"New York city, New York",52223,1228,488100,8405837
2,"Boston city, Massachusetts",53583,1263,381700,644710
3,"Chicago city, Illinois",47099,943,211400,2718789
4,"Los Angeles city, California",48466,1182,451200,3884340
5,"Raleigh city, North Carolina",55170,899,202800,431897
6,"Austin city, Texas",56351,1008,234800,885415
7,"Atlanta city, Georgia",46485,963,200900,447848