In [1]:
import requests as req
import pandas as pd
census_api='c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a'

In [2]:
# read places 
xls = pd.ExcelFile('Project1_AmazonSites.xlsx') 
geo_df=xls.parse('Sheet1') 
places_df=xls.parse('Sheet2')

In [3]:
places = places_df[['PlaceCode','StateCode']]
places.values

array([[50000,    11],
       [51000,    36],
       [ 7000,    25],
       [14000,    17],
       [44000,     6],
       [55000,    37],
       [ 5000,    48],
       [ 4000,    13]])

In [4]:
#query Census based on places
q1 = 'https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:'
q2 = '&in=state:'
census_key = '&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a'
home_rent = []
for p in places.values:
    url=q1+str(p[0])+q2+str(p[1])+census_key
    print(url)
    census_req=req.get(url)
    census_data = census_req.json()
    print(census_data)
    home_rent.append({'City':census_data[1][0],
                     'Median home value':census_data[1][1],
                     'Median gross rent':census_data[1][2]})
home_rent

https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:50000&in=state:11&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Washington city, District of Columbia', '470500', '1307', '11', '50000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:51000&in=state:36&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['New York city, New York', '488100', '1228', '36', '51000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:7000&in=state:25&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Boston city, Massachusetts', '381700', '1263', '25', '07000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:14000&in=state:17&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Chicago city, Illinois', '211400', '943', '17', '14000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:44000&in=state:6&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Los Angeles city, California', '451200', '1182', '06', '44000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:55000&in=state:37&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Raleigh city, North Carolina', '202800', '899', '37', '55000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:5000&in=state:48&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Austin city, Texas', '234800', '1008', '48', '05000']]
https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E&for=place:4000&in=state:13&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a
[['NAME', 'B25077_001E', 'B25064_001E', 'state', 'place'], ['Atlanta city, Georgia', '200900', '963', '13', '04000']]

[{'City': 'Washington city, District of Columbia',
  'Median gross rent': '1307',
  'Median home value': '470500'},
 {'City': 'New York city, New York',
  'Median gross rent': '1228',
  'Median home value': '488100'},
 {'City': 'Boston city, Massachusetts',
  'Median gross rent': '1263',
  'Median home value': '381700'},
 {'City': 'Chicago city, Illinois',
  'Median gross rent': '943',
  'Median home value': '211400'},
 {'City': 'Los Angeles city, California',
  'Median gross rent': '1182',
  'Median home value': '451200'},
 {'City': 'Raleigh city, North Carolina',
  'Median gross rent': '899',
  'Median home value': '202800'},
 {'City': 'Austin city, Texas',
  'Median gross rent': '1008',
  'Median home value': '234800'},
 {'City': 'Atlanta city, Georgia',
  'Median gross rent': '963',
  'Median home value': '200900'}]

In [5]:
#get dataframe
housing_df = pd.DataFrame(home_rent)
housing_df

                                    City Median gross rent Median home value
0  Washington city, District of Columbia              1307            470500
1                New York city, New York              1228            488100
2             Boston city, Massachusetts              1263            381700
3                 Chicago city, Illinois               943            211400
4           Los Angeles city, California              1182            451200
5           Raleigh city, North Carolina               899            202800
6                     Austin city, Texas              1008            234800
7                  Atlanta city, Georgia               963            200900