In [35]:
import requests as req
import pandas as pd
census_api='c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a'
from census import Census

In [58]:
# read places 
xls = pd.ExcelFile('Project1_AmazonSites.xlsx') 
places_df=xls.parse('AmazonCities', dtype=str)

In [37]:
places = places_df[['PlaceCode','StateCode']]
places

  PlaceCode StateCode
0     50000        11
1     51000        36
2     07000        25
3     14000        17
4     44000        06
5     55000        37
6     05000        48
7     04000        13

In [64]:
codes_df = xls.parse('CensusFields',parse_cols=1)

In [38]:
c = Census(census_api, year=2016)
home_rent =[]

In [39]:
for p in places.values:
    place_state = {'for':'place:'+ str(p[0]),'in':'state:'+str(p[1])}
    codes_census = 
    census_data = c.acs5.get(("NAME", "B25077_001E", "B25064_001E", "B01003_001E",
                          "B19013_001E"), place_state)
    print(census_data)
    home_rent.append({'City':census_data[0]['NAME'],
                     'Median home value':census_data[0]['B25077_001E'],
                     'Median gross rent':census_data[0]['B25064_001E'],
                     'Population':census_data[0]['B01003_001E'],
                     'Income':census_data[0]['B19013_001E']})
print(home_rent)

[{'NAME': 'Washington city, District of Columbia', 'B25077_001E': 506100.0, 'B25064_001E': 1362.0, 'B01003_001E': 659009.0, 'B19013_001E': 72935.0, 'state': '11', 'place': '50000'}]
[{'NAME': 'New York city, New York', 'B25077_001E': 508900.0, 'B25064_001E': 1294.0, 'B01003_001E': 8461961.0, 'B19013_001E': 55191.0, 'state': '36', 'place': '51000'}]
[{'NAME': 'Boston city, Massachusetts', 'B25077_001E': 423200.0, 'B25064_001E': 1369.0, 'B01003_001E': 658279.0, 'B19013_001E': 58516.0, 'state': '25', 'place': '07000'}]
[{'NAME': 'Chicago city, Illinois', 'B25077_001E': 225200.0, 'B25064_001E': 987.0, 'B01003_001E': 2714017.0, 'B19013_001E': 50434.0, 'state': '17', 'place': '14000'}]
[{'NAME': 'Los Angeles city, California', 'B25077_001E': 496300.0, 'B25064_001E': 1241.0, 'B01003_001E': 3918872.0, 'B19013_001E': 51538.0, 'state': '06', 'place': '44000'}]
[{'NAME': 'Raleigh city, North Carolina', 'B25077_001E': 218200.0, 'B25064_001E': 966.0, 'B01003_001E': 441326.0, 'B19013_001E': 58641.0, 'state': '37', 'place': '55000'}]
[{'NAME': 'Austin city, Texas', 'B25077_001E': 257800.0, 'B25064_001E': 1106.0, 'B01003_001E': 907779.0, 'B19013_001E': 60939.0, 'state': '48', 'place': '05000'}]
[{'NAME': 'Atlanta city, Georgia', 'B25077_001E': 222300.0, 'B25064_001E': 998.0, 'B01003_001E': 456378.0, 'B19013_001E': 49398.0, 'state': '13', 'place': '04000'}]
[{'City': 'Washington city, District of Columbia', 'Median home value': 506100.0, 'Median gross rent': 1362.0, 'Population': 659009.0, 'Income': 72935.0}, {'City': 'New York city, New York', 'Median home value': 508900.0, 'Median gross rent': 1294.0, 'Population': 8461961.0, 'Income': 55191.0}, {'City': 'Boston city, Massachusetts', 'Median home value': 423200.0, 'Median gross rent': 1369.0, 'Population': 658279.0, 'Income': 58516.0}, {'City': 'Chicago city, Illinois', 'Median home value': 225200.0, 'Median gross rent': 987.0, 'Population': 2714017.0, 'Income': 50434.0}, {'City': 'Los Angeles city, California', 'Median home value': 496300.0, 'Median gross rent': 1241.0, 'Population': 3918872.0, 'Income': 51538.0}, {'City': 'Raleigh city, North Carolina', 'Median home value': 218200.0, 'Median gross rent': 966.0, 'Population': 441326.0, 'Income': 58641.0}, {'City': 'Austin city, Texas', 'Median home value': 257800.0, 'Median gross rent': 1106.0, 'Population': 907779.0, 'Income': 60939.0}, {'City': 'Atlanta city, Georgia', 'Median home value': 222300.0, 'Median gross rent': 998.0, 'Population': 456378.0, 'Income': 49398.0}]

In [41]:
#get dataframe
housing_df = pd.DataFrame(home_rent)
housing_df

,City,Income,Median gross rent,Median home value,Population
0,"Washington city, District of Columbia",72935.0,1362.0,506100.0,659009.0
1,"New York city, New York",55191.0,1294.0,508900.0,8461961.0
2,"Boston city, Massachusetts",58516.0,1369.0,423200.0,658279.0
3,"Chicago city, Illinois",50434.0,987.0,225200.0,2714017.0
4,"Los Angeles city, California",51538.0,1241.0,496300.0,3918872.0
5,"Raleigh city, North Carolina",58641.0,966.0,218200.0,441326.0
6,"Austin city, Texas",60939.0,1106.0,257800.0,907779.0
7,"Atlanta city, Georgia",49398.0,998.0,222300.0,456378.0

In [40]:
#query Census 2013 based on places
# q1 = 'https://api.census.gov/data/2013/acs1?get=NAME,B25077_001E,B25064_001E,B01003_001E,B19013_001E&for=place:'
# q2 = '&in=state:'
# census_key = '&key=c7eba3a0d60bd1b182e282f08d0ccfd80a29c73a'
# home_rent = []
# for p in places.values:
#     url=q1+str(p[0])+q2+str(p[1])+census_key
#     print(url)
#     census_req=req.get(url)
#     census_data = census_req.json()
#     print(census_data)
#     home_rent.append({'City':census_data[1][0],
#                      'Median home value':census_data[1][1],
#                      'Median gross rent':census_data[1][2],
#                      'Population':census_data[1][3],
#                      'Income':census_data[1][4]})
# home_rent